<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand" href="/">Course Database</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/getCourses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/getStudents">Students</a>
      </li>
    </ul>
  </nav>